<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STATUS</title>
</head>
<body>
    <h1>Resultado de la carga</h1>
    <div th:if="${message}">
        <h2 th:text="${message}"></h2>
    </div>

    <h1>Fichero subido:</h1>
    <div th:if="${message2}">
        <h2 th:text="${message2}"></h2>
    </div>

    <h1>Todos los ficheros subidos:</h1>
    <div th:if="${message3}">
        <h2 th:text="${message3}"></h2>
    </div>
</body>
</html>