<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UploadFILES</title>
</head>
<body>
    <h1>Ejemplo práctico SpringBoot</h1>

    <form th:action="@{/uploading(path=${path})}" method="POST" enctype="multipart/form-data">
        <label for="inputFile">Elegir archivo: </label>
        <input type="file" id="inputFile" name="file"/> <br><br>
        <label for="inputMetadata">Metadata: </label>
        <input type="text" id="inputMetadata" name="metadata"/> <br><br>
        <input type="submit" value="Cargar"/>
    </form>
</body>
</html>